# Requisitos para o App de Dashboard e ML

# Bibliotecas principais do dashboard e dados
streamlit
pandas
plotly
numpy

# Bibliotecas do modelo de Machine Learning
tensorflow
scikit-learn
matplotlib
